body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

#appTitle {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

canvas {
  width: 600px;
  height: 600px;
  border: 2px solid #333;
  background-color: #fff;
  margin: 10px;
}

#tools {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0055aa;
}

#clearButton {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#clearButton:hover {
  background-color: #cc0000;
}
