body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

#appTitle {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

canvas {
  width: 500px;
  height: 500px;
  border: 2px solid #333;
  background-color: #fff;
  margin: 5px;
}

#tools {
  display: flex;
  gap: 10px;
  margin: 10px;
}

#extra {
  display: flex;

  gap: 10px;
}
button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0055aa;
}

#clearButton {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#clearButton:hover {
  background-color: #cc0000;
}

#exportButton {
  padding: 10px 20px;
  background-color: #00e64d;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#exportButton:hover {
  background-color: #00802b;
}

.autosnap-toggle {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
}
